# Compose version
version: '3'
services:
  context-provider:
    hostname: cpr
    container_name: context-provider
    build: .
    volumes:
    - .:/usr/src/app
    - /usr/src/app/node_modules/
    networks: default
    ports:
    - 3000:3000
    command: npm run dev

networks:
  default:
    external:
      name: shared